*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'poppins', sans-serif;

}

body {
    background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between content items as needed */
}

.content-item {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Slight background to differentiate items */
    border-radius: 5px;
}