* {
    margin: auto;
    padding: 0;
    font-family: 'poppins', sans-serif;
}


#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding-top: 2rem;
}

body {
    background: linear-gradient(to right, #e99deb, #eaad57); /* Gradient background */
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}
.container {
    position: relative;
    width: 75%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    object-fit: cover;
    height: 70vh;
    width: 60vh;
    border-radius: 80%; /* Circular shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for better visibility */
}

.introcontent {
    height: 100vh;
    width: 100vw;
    padding: 6rem 2rem 2rem 2rem;
    max-width: 75rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex;
    text-align: left;
    z-index: 1;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgba(83, 9, 54, 0.721);
}

.introPara{
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 480px) {
    .bg {
        right: -10vw;

    }
    .introcontent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}